.container
  .content
    .top
      %h1= t("forms.resend_confirm")
    .stylized
      .auth-block
        = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = f.error_notification
          = f.full_error :confirmation_token
          .field.password
            .target
              = f.input :email, required: true, autofocus: true, label: false, placeholder: "E-mail"
          .form-actions
            = f.button :submit, t("forms.resend_confirm_btn")