.content
  .top
    %h1= t("devise.registrations.sign_up2")
  .stylized
    .auth-block
      =render "devise/shared/social_login"
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true, autocomplete: 'off'}) do |f|

        .field.email
          .target
            = f.input :username, requred: true, placeholder: "Username", label: false
        .field.email
          .target
            = f.input :email, required: true, autofocus: false, placeholder: "E-mail", label: false, input_html: { :autocomplete => "off" }
        .field.password
          .target
            = f.input :password, placeholder: t("forms.password"), required: true, label: false
        .field.password
          .target
            = f.input :password_confirmation, placeholder: t("forms.password_confirm"), required: true, label: false
        .field 
          = t("forms.avatar")
          = f.file_field :avatar
        %small.t-right.forgot-password
          = t("forms.have_account")
          = link_to t("devise.registrations.sign_in"), new_user_session_path
        .submit-field
          = f.button :submit, t("devise.registrations.sign_up"), class: "btn bigger full"
      %small.info
        = link_to t("forms.confirm_instruction"), new_confirmation_path(resource_name)
        
=render "home/back_link"