.container
  %div.details_list
    %h2
    =t("welcome.new_scheme")

    %div.new_scheme
      = simple_form_for(@element, params[:element] => elements_path, html: {role: 'form' }) do |f|
        = f.input        :title, class: "form-control"
        = f.input        :num_inputs
        = f.file_field   :image 
        =f.simple_fields_for :properties do |p|
          %div
            = p.input     :title
            = p.input     :value
        = f.button :submit
=render "home/back_link"