.container
  %div
    = "Название: #{@element.title}" 
    %br
    = "Количество выходов: #{@element.num_inputs}"
    %br
    = image_tag @element.image.url

    %p Свойства
    -@element.properties.each do |property|
      %div
        = "#{property.title}: #{property.value}"
        = link_to "delete", property_path(property), method: :delete, data: { confirm: "Are you sure?"}

    %div
      = link_to "Edit", edit_element_path(@element)
    
=render "home/back_link"
