-unless current_user.nil?
	= form_for(rating, :remote => true, :html => { :class => 'rating' }) do |f|
		- (1..5).each do |i|
			= f.label("value_#{i}", content_tag(:span, "#{i}"), {:class=>"rating", :id=>"#{i}"})
			= radio_button_tag("rating[value]", "#{i}", @rating == "#{i}", :class => "rating_button")
		= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
		= hidden_field_tag("scheme_id", @scheme.id)
		= f.submit :submit, class: "rating_submit"