.container
  %h3= @scheme.title
  %p= markdown(@scheme.description)
  %p Рейтинг: #{@scheme.rating}
  -if user_can_voted?
    =render "rating_form"
  -else 
    = "Вы поставили #{current_user_rating}"

  -if can? :edit, @scheme
    = link_to 'Edit', edit_scheme_path(@scheme)

= link_to 'Back', :back

- content_for(:scripts) do
  = javascript_include_tag "jquery-2.1.1.min.js"
  = javascript_include_tag "index"