.container
  %h3= @scheme.title
  %p= markdown(@scheme.description)
  %p Рейтинг: #{@scheme.rating}
  -if user_can_voted?
    =render "rating_form"
  -else 
    = "Вы поставили #{current_user_rating}"

  .edit-link-in-show
    -if can? :edit, @scheme
      = link_to 'Edit', edit_scheme_path(@scheme), class: "edit-link-in-show"
    -if can? :destroy, @scheme
      = link_to "Delete", scheme_path(@scheme), method: :delete
      -if @scheme.published == false
        = link_to "Опубликовать", scheme_path(@scheme, published: true ), method: :put
  -if cannot? :create, Comment
    .need-sign-in
      Чтобы высказать свое мнение, 
      =link_to "войдите", new_user_session_path
      или 
      =link_to "зарегистрируйтесь", new_user_registration_path 
  .comments 
    =render "comments/show"
  -if can? :create, Scheme
    =render "comments/new"

=render "home/back_link"




- content_for(:scripts) do
  = javascript_include_tag "jquery-2.1.1.min.js"
  = javascript_include_tag "index"