.container.admin
	%h1.home-page Администрирование
	.admin-blocks
		.users
			%h1.admin-panel= t("welcome.all_users")
			.admin-links.users
				-@users.each do |user|
					.all-user-links
						.admin-user-email-link
							= link_to user.email, user_path(user)
						.admin-user-delete-link
							= link_to "Delete", admin_destroy_user_path(user), method: :delete, data: { confirm: "Are you sure?" }
						.admin-user-edit-link
							= link_to "Edit", edit_user_path(user.id)
					= user.role		
					%div	
						%hr.admin-hr
		= will_paginate @users				
		.all-scheme 
			%h1.admin-panel= t("welcome.all_schemes")
			.admin-links.users.schemes
				-@schemes.reverse.each do |scheme|
					.all-user-links
						.admin-user-email-link.scheme
							= link_to scheme.title, scheme_path(scheme)
						.admin-user-delete-link
							= link_to "Delete", scheme_path(scheme), method: :delete, data: { confirm: "Are you sure?"}
						.admin-user-edit-link
							= link_to "Edit", edit_scheme_path(scheme.id)
					%div	
						%hr.admin-hr
		= will_paginate @schemes				
		.all-elements
			%h1.admin-panel= t("welcome.all_elements")
			.admin-links.users.schemes
				-@elements.reverse.each do |element|
					.all-user-links
						.admin-user-email-link.element
							= link_to element.title, element_path(element)
						.admin-user-delete-link
							= link_to "Delete", element_path(element), method: :delete, data: { confirm: "Are you sure?"}
						.admin-user-edit-link
							= link_to "Edit", edit_element_path(element.id)
					%div	
						%hr.admin-hr
		= will_paginate @elements				