.container
  .my_account
    %h2 My account

    %div
    Name: #{current_user.username}
    %div
    E-mail: #{current_user.email}
    %div
    My role: #{current_user.role}
    %div.avatar
      =image_tag current_user.avatar.url(:medium)

    %div
      =link_to "Edit my account", edit_user_registration_path

    -if can? :create, Scheme
      =link_to "Добавить схему", new_scheme_path
      %br
    -if can? :manage, Element
      =link_to "Добавить элемент", new_element_path

  -if can? :create, Scheme
    %div.my_scheme 
      %h2 My schemes
      -@schemes.reverse.each do |scheme|
        = p 
        = link_to scheme.title, scheme_path(scheme)
        %br
  -if can? :manage, :all
    %div.my_scheme
      %h2 Администрирование
      =link_to "Администрирование", admin_menu_path