.container.profile
  %section.my_account
    %div.profile
      %h1.home-page= t("welcome.my_account")
      %div.my-file
        %p Name: #{current_user.username}
        %p E-mail: #{current_user.email}
        %p My role: #{current_user.role}
      %div.avatar
        =image_tag current_user.avatar.url(:medium), class: "profile-avatar"

      %div.account-buttons
        =link_to t("profile.edit_btn"), edit_user_registration_path, class: "btn edit"
        -if can? :create, Scheme
          =link_to t("profile.add_scheme_btn"), new_scheme_path, class: "btn add"
        -if can? :manage, Element
          =link_to t("profile.add_element_btn"), new_element_path, class: "btn add"
        -if can? :create, Element
          = link_to "Все элементы", elements_path, class: "btn edit"
        -if can? :manage, :all  
          =link_to t("profile.admin_btn"), admin_menu_path, class: "btn delete"

  -if can? :create, Scheme
               
    %section.cases   
      %h1.home-page= t("welcome.my_schemes")
      -unless current_user.schemes.length == 0
        -@schemes.each do |scheme|
          %article.expert.home-all-post.profile
            = link_to scheme.title, scheme_path(scheme), class: "title"
            %p.subtitle 
              = t("schemes.rating")
              = scheme.rating
              %br
              = t("schemes.votes")
              = scheme.ratings.length
              %br
              Опубликована? 
              = scheme.published
            %img.attachment-user-thumbnail-normal.wp-post-image.home-page-down{:height => "100", :src => "#{scheme.scheme_image.url(:medium)}" }
            .entry-content
              %div.home_posts
                = scheme.short_description
      -else
        = t("schemes.no_schemes")
=render "home/back_link"