.container
	.my_account
		%h2= "#{@user.username.capitalize} account"
		%div.my-file
			%p Name: #{@user.username}
			%p E-mail: #{@user.email}
			%p My role: #{@user.role}
		%div.avatar
			=image_tag @user.avatar.url(:medium), class: "profile-avatar"

		%div
			%h3= "#{@user.username.capitalize} scheemes"
			%p="Схем создано: #{@user.schemes.length} "
			%p=@schemes.map {|scheme| scheme.title }
