.container
  .content
    .top
      %h1= t("forms.change_pass")
    .stylized
      .auth-block
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = f.error_notification
          = f.input :reset_password_token, as: :hidden
          = f.full_error :reset_password_token
          .field.password
            .target
              = f.input :password, placeholder: t("forms.new_password"), required: true, autofocus: true, label: false
          .field.password
            .target
              = f.input :password_confirmation, placeholder: t("forms.confirm_new_pass"), required: true, label: false
          .form-actions
            = f.button :submit, t("forms.submit_new_pass")