%h1.home-page TOP RATED SCHEMES
%section.cases
  %ul.home-page
    -unless @top_schemes.nil?
      -@top_schemes.limit(5).order(:rating).reverse_order.each do |scheme|
        %li.home-page
          %article.expert
            = link_to scheme.title, scheme_path(scheme), class: "title"
            %p.subtitle 
              = "Автор: #{scheme.user.username}"
              %br
              Рейтинг: #{scheme.average_rating}
            %img.attachment-user-thumbnail-normal.wp-post-image{:height => "100", :src => "#{scheme.user.avatar.url(:medium)}" }
            .entry-content
              %div.home_posts
                = scheme.short_description
%hr 
%h1.home-page All SCHEMES
= "Всего схем: #{scheme_quantity}"  
%hr        
%section.cases            
  -@schemes.each do |scheme|
    %article.expert.home-all-post
      = link_to scheme.title, scheme_path(scheme), class: "title"
      %p.subtitle 
        = "Автор: #{scheme.user.username}"
        %br
        Рейтинг: #{scheme.average_rating}
      %img.attachment-user-thumbnail-normal.wp-post-image.home-page-down{:height => "100", :src => "#{scheme.user.avatar.url(:medium)}" }
      .entry-content
        %div.home_posts
          = scheme.short_description
%section.cases.pagination-home-page
  =will_paginate @schemes