.content
  .top
    %h1= t("devise.registrations.sign_in")
  .stylized
    .auth-block
      =render "devise/shared/social_login"
      = simple_form_for(:user, url: user_session_path, method: :post) do |f|
        .field.email
          .target
            = f.input :login, required: false, autofocus: true, placeholder: "E-mail #{t("welcome.or")} Username", label: false
        .field.password
          .target
            = f.input :password, placeholder: t("forms.password"), label: false
        %small.t-right.forgot-password
          = link_to t("devise.registrations.forgot_pass"), new_user_password_path
        .submit-field
          = f.button :submit, t("devise.registrations.sign_in"), class: "btn bigger full"
      %small.info
        = t("forms.not_a_user")
        = link_to t("forms.create_account"), new_user_registration_path
        %br/
=render "home/back_link"