%header.top
	.wrapper
		%h1.logo
			%a{:href => root_path} General Electric
		.ng-scope
			%nav.nav-menu
				%ul.menu
					= render "devise/shared/registration"
		.messages
			.notice= notice
			.alert= alert
		.searching-field
			= form_tag search_path, :method => :get do
				= text_field_tag :search, params[:search]
				= submit_tag t("schemes.search"), :name => nil, class: "btn search-button"