<!DOCTYPE html>
%html
  %head
    %title Sites
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags

    - if user_signed_in?
      %span
      = link_to t("welcome.home"), root_path
      = link_to t("welcome.profile"), user_root_path
      = t("welcome.hello")
      = current_user.username   
      = link_to t("devise.registrations.sign_out"), destroy_user_session_path, :method => :delete
    - else
      = link_to t("welcome.home"), root_path
      = link_to t("devise.registrations.sign_in"), new_user_session_path
      = link_to t("devise.registrations.sign_up"), new_user_registration_path
    - if I18n.locale == I18n.default_locale
      = link_to "English", :locale=>'en'
    - else
      = link_to "Русский", :locale=>'ru'

    %p.notice= notice
    %p.alert= alert
    %hr
    
    =yield
