<!DOCTYPE html>
%html
  %head
    %title General Electric
    -if current_user.nil?
      = stylesheet_link_tag "base_theme", 'data-turbolinks-track' => true
    -else
      -if current_user.theme == "Темная тема"
        = stylesheet_link_tag "dark_theme", 'data-turbolinks-track' => true
      -else        
        = stylesheet_link_tag "base_theme", 'data-turbolinks-track' => true
      =csrf_meta_tags
      =javascript_include_tag 'application', 'data-turbolinks-track' => true
      = yield :scripts

  = render 'layouts/header'
  %section.main-content
    = yield
    